@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
$paragraphColor: #6c7289;
$viridianColor: #3c8067;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Fraunces", serif;
    background: #f2ebe3;
}

.main-container {
    width: 100vw;
    // height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
    // flex-wrap: nowrap;
    .card {
        display: flex;
        max-width: 41.625rem;
        background: #ffffff;
        border-radius: 10px;
        margin: 0 32px;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // translate: -50% -50%;
        .product-container {
            width: 50%;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .details-container {
            padding: 32px;
            width: 50%;
            p {
              &:nth-of-type(1) {
                color: $paragraphColor;
                font-family: "Montserrat";
                letter-spacing: 3px;
                font-size: 0.9rem;
                margin-bottom: 28px;
              }
              &:nth-of-type(2) {
                font-family: "Montserrat";
                font-size: 0.875rem;
                color: $paragraphColor;
                line-height: 22px;
                // margin-bottom: 28px;
              }  
            }
            h1 {
                &:nth-of-type(1) {
                 color: #1c232b;
                 padding-right: 32px;
                 margin-bottom: 28px;
                }
            }
            .price-container {
                // height: 35px; 
                display: flex;
                // gap: 32px;
                align-items: center;
                padding: 32px 32px 32px 0 ;
                // background: red;
                // margin-bottom: 28px
                // position: relative;
                // translate: 90px 350px;
                // left: 40;
                h1 {
                    color: $viridianColor;
                  
                }

                p {
                    font-family: "Montserrat";
                    color: $paragraphColor;
                    text-decoration: line-through;
                    margin-left: -15px;
                }
            }

            button {
                width: 100%;
                border: 0;
                outline: 0;
                background-color: $viridianColor;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 16px;
                font-family: "Montserrat";
                padding: 16px 32px;
                border-radius: 10px;
                cursor: pointer;
                margin-top: -30px;
                transition: background-color 1s ease-out;
                &:hover {
                    background-color: #1c232b;
                }
            }
            
        }
       
       
    }
}

@media only screen and (max-width: 580px) {
    .main-container{
        .card {
            margin: 16px 0;
            flex-direction: column;
            margin-top: 1rem;
            margin-bottom: 1rem;
            // max-width: 580px;
            // justify-content: center;
            // align-items: center;
            .product-container {
                width: 100%;
                height: 40%;
                img {
                    content: url("../images/image-product-mobile.jpg");
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    // border-bottom-left-radius: 10px;   
                }
            }
            .details-container {
                width: 100%;
                // width: 0;
                // padding: 0;
                h1 {
                    &:nth-of-type(1) {
                        padding-right: 0;
                    }
                }
                .price-container {
                        gap: 32px;
                    p {
                        font-family: "Montserrat";
                        color: $paragraphColor;
                        text-decoration: line-through;
                        margin-left: -15px;
                    }
                }
              }
        }
    }
        
}